{% set DOMAIN_INC = "http://" + handler.settings.get("xxx_domain_inc") %}
<link rel="stylesheet" href="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/styles/UNv4_master.css"/>
<link rel="stylesheet" href="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/styles/UNv4_OralCareRed.css"/>
<div id="unifiednav_footercontent">
	SSA 113300201B2228
</div>
<div style="background-color: #ffffff">
	<div class="hp_footer">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tbody>
				<tr>
					<td>
						<div id="unifiednav_footer4" class="unifiednav_footer4" nostyle="">
							<div id="unifiednav_footerline4">
								<img src="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/images/spacer.gif" alt="" width="1" height="1" border="0">
							</div>
							<div id="unifiednav_footerline4">
								<img src="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/images/spacer.gif" alt="" width="1" height="1" border="0">
							</div>
							<div id="unifiednav_footercontent">
								<a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/HomePage.cvsp">Inicio</a>
								&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/LegalPrivacy.cvsp">Pol&iacute;ticas Legales</a>
								&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/LegalPrivacy.cvsp#privacy">Pol&iacute;ticas de Privacidad</a>
								&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/SiteMap.cvsp">Mapa del Sitio</a>
								&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/ContactUs.cvsp">Contacto</a>
								<br>
								<span class="CP_FooterCopyright">
								<!-- &copy; <script>var d = new Date(); document.write(d.getFullYear());</script>-->
								 2012 xxx-Palmolive Company. Todos los derechos reservados.</span>
								<br>
								<span class="CP_FooterCountryIdentifier">Usted est&aacute; viendo la p&aacute;gina de M&eacute;xico</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div style="text-align: center">
							<img src="{{ DOMAIN_INC }}/xxx/MX/HomePage_v2/images/bottomright_logo.gif" border="0" alt="">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
