{% extends "../master.html" %}
{% block body_content %}
<script type="text/javascript">
	window.form = {}
	window.form.update = {
			"{% raw form.product_pasta.name %}":"{% raw form.product_pasta.data %}",
			"{% raw form.product_cepillo.name %}":"{% raw form.product_cepillo.data %}",
			"{% raw form.product_enjuague.name %}":"{% raw form.product_enjuague.data %}",
			"{% raw form.ticket_hour.name %}":"{% raw form.ticket_hour.data %}",
			"{% raw form.ticket_minutes.name %}":"{% raw form.ticket_minutes.data %}",
			"{% raw form.ticket_day.name %}":"{% raw form.ticket_day.data %}",
			"{% raw form.ticket_month.name %}":"{% raw form.ticket_month.data %}",
		}
	window.form.errors = {% raw errors %};
</script>
<style>
	body {background: #DCE7EB;}
	.f-style {background: #fff; padding: 32px 0; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;} 
	.container {margin-bottom: 24px;}
	.alert {margin: 0;}
	.form-buttons {padding-right: 78px; margin-top: 24px;}
	.module {margin-bottom: 0;}
	.form-horizontal .controls {margin-left: 60px;}
	.form-horizontal .control-label {text-align: left;width: 40px;}
	.form-horizontal .control-group.title-left .controls {margin-left: 240px;}
	.form-horizontal .control-group.title-left .control-label {text-align: left;width: 200px;}
</style>
<div class="container">
	<h3 class="form-title">Registrar Puntos</h3>
	<form class="module" action="javascript:void();" method="post">
		<table>
			<tr>
				<td width="470px" align="center">
					<label>
						<table>
							<tr align="center"><td><img src="{{ static_url('img/template/home-section-3-type-product.jpg') }}" alt=""></td><tr>
							<tr align="center"><td><input type="radio" name="redeem-type" id="type2" value="1" checked></td><tr>
							<tr align="center"><td>Reg&iacute;stra tus Productos</td><tr>
						</table>
					</label>
				</td>
				<td width="470px" align="center">
					<label>
						<table>
							<tr align="center">
								<td>
									<a href="/redeem/codes">
										<img src="{{ static_url('img/template/home-section-3-type-accesory.jpg') }}" alt="">
									</a>
								</td>
							<tr>
							<tr align="center"><td><input type="radio" name="redeem-type" id="type2" value="2"></td><tr>
							<tr align="center"><td>Accesorios y Flyers</td><tr>
						</table>
					</label>
				</td>
			</tr>	
		</table>
	</form>
</div>
{% if errors or (form and form.errors) %}
<div class="container">
	<div class="js-form-head">
		{% if form and form.errors %}
		<div class="js-alert alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
 			<h4 class="alert-heading">Errores!</h4>
 			<br>
			<p>{% set _list = sorted(form.errors.iteritems()) %}
			{% for a, b in _list %}
				<strong>{{ unicode(form[a].label.text) }}</strong> : {{ unicode(",".join(form[a].errors)) }}-
			{% end %}</p>
		</div>
		{% end %}
	</div>
</div>
{% end %}
<div class="container">
	<form class="form-horizontal f-style" action="/redeem/tickets" method="POST">
		{% raw xsrf_form_html() %}
		<fieldset>
			<div class="row">
				<div class="span6">
					<div class="title title-left">
						<h1>1</h1>
						<h3>Ingresa la cantidad de productos xxx<br>Luminous White que compraste.</h3>
						<div class="clearfix"></div>
					</div>
					<div class="js_product_pasta control-group title-left">
						<label class="control-label" for="product_pasta">
							<span class="product-image-icon product-image-pasta"></span>
							Pasta dental
						</label>
						<div class="controls">
							<select class="span1" id="product_pasta" name="product_pasta">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
							</select>
						</div>
					</div>
					<div class="js_product_cepillo control-group title-left">
						<label class="control-label" for="product_cepillo">
							<span class="product-image-icon product-image-cepillo"></span>
							Cepillo de dientes
						</label>
						<div class="controls">
							<select class="span1" id="product_cepillo" name="product_cepillo">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
							</select>
						</div>
					</div>
					<div class="js_product_enjuague control-group title-left">
						<label class="control-label" for="product_enjuague">
							<span class="product-image-icon product-image-enjuague"></span>
							Enjuague bucal
						</label>
						<div class="controls">
							<select class="span1" id="product_enjuague" name="product_enjuague">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
							</select>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="title">
						<h1>2</h1>
						<h3>Ingresa los datos de tu ticket<br>de compra.</h3>
						<div class="clearfix"></div>
					</div>
					<div class="js_ticket_rfc control-group">
						<label class="control-label" for="ticket_rfc">R.F.C.</label>
						<div class="controls">
							<input class="" id="ticket_rfc" name="ticket_rfc" type="text" value="{{ form.ticket_rfc.data }}">
							<p class="help-block">
								<i class="icon-info-sign"></i>
								<span>Este dato lo encuentras en la parte <br>superior o inferior del ticket de compra.</span>
							</p>
						</div>
					</div>
					<div class="js_ticket_hour js_ticket_minutes control-group">
						<label class="control-label" for="">Hora</label>
						<div class="controls">
							<select class="span1" id="ticket_hour" name="ticket_hour">
								<option value="-1">HH</option>
								<option value="0">00</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
							</select>
							:
							<select class="span1" id="ticket_minutes" name="ticket_minutes">
								<option value="-1">MM</option>
								<option value="0">00</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
								<option value="32">32</option>
								<option value="33">33</option>
								<option value="34">34</option>
								<option value="35">35</option>
								<option value="36">36</option>
								<option value="37">37</option>
								<option value="38">38</option>
								<option value="39">39</option>
								<option value="40">40</option>
								<option value="41">41</option>
								<option value="42">42</option>
								<option value="43">43</option>
								<option value="44">44</option>
								<option value="45">45</option>
								<option value="46">46</option>
								<option value="47">47</option>
								<option value="48">48</option>
								<option value="49">49</option>
								<option value="50">50</option>
								<option value="51">51</option>
								<option value="52">52</option>
								<option value="53">53</option>
								<option value="54">54</option>
								<option value="55">55</option>
								<option value="56">56</option>
								<option value="57">57</option>
								<option value="58">58</option>
								<option value="59">59</option>
							</select>
						</div>
					</div>
					<div class="js_ticket_day js_ticket_month js_ticket_year control-group">
						<label class="control-label" for="">Fecha</label>
						<div class="controls">
							<select class="span1" id="ticket_day" name="ticket_day">
								<option value="0">D&iacute;a</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							/
							<select class="span1" id="ticket_month" name="ticket_month">
								<option value="0">Mes</option>
								<!-- option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option -->
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							/
							<select class="span1" id="ticket_year" name="ticket_year">
								<option value="2012">2012</option>
							</select>
							<p class="help-block">
								<i class="icon-info-sign"></i>
								<span>Es indispensable que conserves tu<br>ticket de compra.</span>
							</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for=""></label>
						<div class="controls">
							<button type="submit" class="btn btn-large">Redimir</button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var update = window.form.update;
	
	for(var a in update){
		$("#"+a).val(update[a]);
	}
	
	var tmpl = '<div class="js-alert alert alert-error">'
			 +'<a class="close" data-dismiss="alert">×</a>'
			 +'<h4 class="alert-heading">Errores!</h4><br>'
			 +'<p>{message}</p></div>';
			 
	var errors = window.form.errors;
	
	if(errors.hasOwnProperty("error")) {
		if(errors.error.id != 0){
			var messages = errors.error.message;
			for(var a in messages){
				$(".js_"+a).addClass("error")
			} if(errors.error.id > 1){
				$(".js-form-head").append(tmpl.replace("{message}", 
													   errors.error.message));
			}
		}
	};
	
	$('input[name=redeem-type]:radio').change(function(e){
		var url;
		switch($(this).attr('value')){
			case '1': url = '/redeem/tickets'; break;
			case '2': url = '/redeem/codes'; break;
		} if(url) window.location.href = url;
	});
	
});
</script>
{% end %}
