{% extends "../master.html" %}
{% block head_script_extra %}{% end %}
{% block body_content %}
<style>
	body {background: #DCE7EB;}
	.container {margin-bottom: 32px;}
	.f-style {background: #fff; padding: 32px 0; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;} 
	.form-buttons {padding-right: 78px; margin-top: 24px;}
	.module {margin-bottom: 0;}
</style>
<div class="container">
	<h3 class="form-title">Bases de la Promoci&oacute;n</h3>
	<div class="module">
		<h3>NOMBRE DE LA PROMOCI&Oacute;N</h3>
		<p>&ldquo;Qu&iacute;tate los accesorios  y viaja a Europa&rdquo;</p>
		<br>
		<h3>PARTICIPANTES.</h3>
		<p>Podr&aacute;n participar todas aquellas personas mayores de 18 a&ntilde;os que cumplan con los requisitos de la mec&aacute;nica.</p>
		<br>
		<h3>APLICACI&Oacute;N Y VIGENCIA.</h3>
		<p>La promoci&oacute;n s&oacute;lo tendr&aacute; aplicaci&oacute;n en la Rep&uacute;blica Mexicana. Su vigencia ser&aacute; s&oacute;lo en las condiciones publicadas en estas bases comenzando el d&iacute;a 28  de Abril desde las 00:01 hrs hasta el 31 de julio  del 2012 hasta las 23:59 hrs.</p>
		<br>
		<h3>MEC&Aacute;NICA.</h3>
		<p>El participante deber&aacute; ingresar a  www.xxxluminous.com.mx  y registrarse (s&oacute;lo por registrarse obtendr&aacute; 3 puntos de obsequio) donde podr&aacute; encontrar las bases de la promoci&oacute;n, registro de oportunidades (puntos) y la descripci&oacute;n de lugares o sitios espec&iacute;ficos donde se llevaran al cabo las actividades Luminous White. </p>
		<p>La finalidad de la promoci&oacute;n es que el participante registre la mayor cantidad de oportunidades recaudados (puntos) de la siguiente forma:</p>
		<p><strong>a.</strong> Al recibir o conseguir diversos &ldquo;Accesorios de Moda&rdquo; entregados por &ldquo;Modelos de Pasarela&rdquo; xxx Luminous White en diferentes puntos de la ciudad, mismos que contendr&aacute;n un c&oacute;digo Alfanum&eacute;rico que al registrarse se convierten en puntos.</p>
		<p><strong>b.</strong> Al recibir una muestra de producto Luminous White + un volante (Flyer) que contendr&aacute;n un c&oacute;digo Alfanum&eacute;rico mismo que deber&aacute; registrarse convirti&eacute;ndose en puntos.</p>
		<p><strong>c.</strong> Comprando cualquier producto xxx Luminous White en tiendas de autoservicio, registra tu ticket de compra en la Web de la promoci&oacute;n y convierte tu compra en puntos. (Es indispensable conservar tu ticket de compra hasta el final de la promoci&oacute;n.)</p>
		<p><strong>d.</strong> Acumula m&aacute;s puntos a tu registro participando y jugando en la aplicaci&oacute;n digital en el sitio Web.</p>	
		<p>El criterio de desempate ser&aacute; por fecha y hora en que la persona realiz&oacute; su primer registro, siendo el ganador quien lo haya realizado lo m&aacute;s cercano al inicio de la promoci&oacute;n el 28 de Abril de 2012.</p>
		<br>
		<h3>TABLA DE PUNTAJE</h3>
		<p>Al registrar tus c&oacute;digos o productos los valores ser&aacute;n los siguientes:</p>
		<ul>
		<li>C&oacute;digo Volante = 2 pts.</li>
		<li>C&oacute;digo Accesorios= 3 pts.</li>
		<li>Ticket Compra de Pasta Dental Luminous= 3 Pts.</li>
		<li>Ticket Compra de Cepillo Dental Luminous = 5 Pts.</li>
		<li>Ticket Compra de Enjuage Bucal Luminous = 7 pts.</li>
		</ul>
		<p>- En el registro de c&oacute;digos (Volantes y etiquetas) no podr&aacute;s ingresar m&aacute;s de 10 c&oacute;digos de Volantes (Flyer) y accesorios por d&iacute;a por usuario.
		<p>- El registro de tickets de compra de productos Luminous White ser&aacute;n ilimitados, un ticket podr&aacute; contener varios productos en el mismo ticket de compra. 
		<p>- El ticket de compra ser&aacute; validado a trav&eacute;s del RFC y de la fecha y hora de emisi&oacute;n del ticket. 
		<p>- Un usuario no podr&aacute;n registrar un mismo ticket de compra m&aacute;s de una vez, en caso de que el mismo ticket de compra sea registrado por m&aacute;s de 5 usuarios automaticamente no se podr&aacute; volver a registrar en la base de datos.
		<p>- No se podr&aacute; registrar informaci&oacute;n de tickets de compra incorrecta, al tercer intento de esta acci&oacute;n se bloquear&aacute; la cuenta del usuario para ser evaluado el caso, deber&aacute;n contactarse al siguiente correo: <a href="mailto:contacto@energia-mx.com">contacto@energia-mx.com</a>  para pedir la reactivaci&oacute;n de la cuenta.
		<p>- No se podr&aacute; registrar informaci&oacute;n de c&oacute;digos incorrecta, al quinto intento de esta acci&oacute;n se bloquear&aacute; la cuenta del usuario para ser evaluado el caso, deber&aacute;n contactarse al siguiente correo: <a href="mailto:contacto@energia-mx.com">contacto@energia-mx.com</a> para pedir la reactivaci&oacute;n de la cuenta.</p>
		<h4>Puntajes del juego</h4>
		<p>T&uacute; podr&aacute;s jugar las veces que quieras durante el d&iacute;a pero tendr&aacute;s un l&iacute;mite de acumulaci&oacute;n de puntos de 2000 m&aacute;ximo por d&iacute;a.</p>
		<br>
		<h3>RUTAS</h3>
		<br>
		<h4>OPCI&Oacute;N 1</h4>
		<br>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="15%">FECHA</th>
					<th width="65%">RUTA</th>
					<th width="20%">HORARIOS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>28 y 29<br>de Abril</td>
					<td>
						<p>Parque M&eacute;xico Av. M&eacute;xico y Av. Michoac&aacute;n Col. Condesa C.P.06000 M&eacute;xico D.F<br><br>
						Centro Coyoac&aacute;n Jard&iacute;n del Centenario , Villa Coyoac&aacute;n, Coyoac&aacute;n, 04000 Ciudad de M&eacute;xico, Distrito Federal.<br><br>
						Zona de Restaurantes Condesa Av.Michoacan  y Parral, Tamaulipas,Oaxaca,Cuernavaca. Col.Condesa, C.P 06000 M&eacute;xico.<br><br>Parque de los Pintores (Av. La Paz).</p>
					</td>
					<td>13:00 a 17:00 hrs</td>
				</tr>
				<tr>
					<td>5 y 6<br>de Mayo</td>
					<td>
						<p>Parque M&eacute;xico Av. M&eacute;xico y Av. Michoac&aacute;n Col. Condesa C.P.06000 M&eacute;xico D.F<br><br>
						Centro Coyoac&aacute;n Jard&iacute;n del Centenario , Villa Coyoac&aacute;n, Coyoac&aacute;n, 04000 Ciudad de M&eacute;xico, Distrito Federal.<br><br>
						Zona de Restaurantes Condesa Av.Michoacan  y Parral, Tamaulipas,Oaxaca,Cuernavaca. Col.Condesa, C.P 06000 M&eacute;xico.<br><br>Parque de los Pintores (Av. La Paz).</p>
					</td>
					<td>13:00 a 17:00 hrs</td>
				</tr>
				<tr>
					<td>26 y 27<br>de Mayo</td>
					<td>Centro Comercial Perisur Anillo Perif&eacute;rico Boulevard Adolfo L&oacute;pez Mateos 4690, Coyoac&aacute;n, Distrito Federal, M&eacute;xico.</td>
					<td>11:00 a 17:00 hrs</td>
				</tr>
			</tbody>
		</table>
		<br><br><br>
		<h4>PREMIO &Uacute;NICO:</h4>
		<ul>
		<li>Si al final de la promoci&oacute;n, 31 de julio de 2012, eres quien m&aacute;s puntos tiene acumulados de volantes, etiquetas, compra de producto y juego digital, habr&aacute;&#x301;s  ganado un Viaje doble por 7 d&iacute;as y 6 noches a una de las ciudades de la Moda en Europa, t&uacute; eliges: Paris, Roma o Londres**</li>
		<li>El ganador ser&aacute; elegido el d&iacute;a 01 de Agosto del 2012.</li>
		</ul>
		<span class="help-block">**Se aplican restricciones. Los participantes  deben de ser mayor de 18 a&ntilde;os, contar con Visa (Solo para Extranjeros residentes en M&eacute;xico) y Pasaporte, el viaje esta sujeto a fechas de temporada Baja (Septiembre y Octubre de 2012. No incluye comidas y otro tipo de transportaci&oacute;n) o en su defecto el Premio ser&aacute; equivalente a $99,000 pesos.</span>
		<br>
		<h3>El viaje est&aacute; condicionado a las siguientes cl&aacute;usulas:</h3>
		<br>
		<h4>Periodo de viaje:</h4>
		<p>- A partir del 1 de Octubre al 21 de Diciembre de 2012.</p>
		<p>- Una vez notificado al ganador el d&iacute;a 1 de Agosto de 2012, tendr&aacute; hasta 20 d&iacute;as naturales para hacer la selecci&oacute;n de la ciudad donde se hospedar&aacute; por un total de 7 d&iacute;as, 6 noches en: Paris, Londres o Roma. SUJETO A DISPONIBILIDAD DE ESPACIO.</p>
		<p>- Cualquier destino que elija el ganador  tendr&aacute; que realizar un viaje vuelo directo a la ciudad de Paris, Francia. Viaje redondo (M&eacute;xico-Par&iacute;s).  El viaje de regreso deber&aacute; de realizarse de la misma forma.</p>
		<p>- NO aplica el periodo del viaje en d&iacute;as festivos considerados entre el 1 de Octubre al 21 de diciembre de 2012.</p>
		<br>
		<h4>El premio incluye:</h4>
		<p>- 7 d&iacute;as, 6 noches en Europa para dos personas mayores de 18 a&ntilde;os. SUJETO A DISPONIBILIDAD DE ESPACIO.</p>
		<p>- Vuelo directo clase Turista redondo del Aeropuerto Internacional Ciudad de M&eacute;xico &ndash;Hotel y Hotel&ndash; Aeropuerto Charlles de Gaulle (Roissy) en Paris Francia. SUJETO A DISPONIBILIDAD DE ESPACIO.</p>
		<p>- El ganador podr&aacute; optar por seleccionar su estancia en la ciudad que elija: Paris, Londres o Roma previo aviso en el periodo designado. Habitaci&oacute;n para 2 personas adultos, por un total de 7 d&iacute;as, 6 noches en Hotel 3 estrellas. No incluye alimentos ni bebidas.</p>
		<br>
		<h4>Condiciones:</h4>
		<p>- Cargos adicionales de equipaje pueden aplicar en casos especiales: sobre equipaje.</p>
		<p>- Cambios y cancelaciones con costo.</p>
		<p>- Contar con Pasaporte y visa vigente (en caso de requerirlo).</p>
		<p>- Contar con identificaci&oacute;n , pasaporte valido , certificado de nacimiento o certificado de naturalizaci&oacute;n.</p>
		<br>
		<h4>Si el ganador elige hospedaje en Londres :</h4>
		<p>- Traslado de PARIS &ndash; LONDRES para 2 personas en tren Eurostar (Rail Europe). Duraci&oacute;n del trayecto: 2 hrs. 28 minutos, sin escala. SUJETO A DISPONIBILIDAD DE ESPACIO</p>
		<p>- Habitaci&oacute;n en LONDRES doble est&aacute;ndar para 2 personas adultos no fumador, por el total de d&iacute;as y noches que se ajusten a su itinerario en Hotel 3 estrellas. No incluye alimentos ni bebidas.  Los tipos de cama, la preferencia de consumo de tabaco y las comodidades de las habitaciones  est&aacute;n sujetas a disponibilidad del hotel. Incluye Impuestos y propinas. SUJETO A DISPONIBILIDAD DE ESPACIO</p>
		<br>
		<h4>Si el ganador elige hospedarse en Roma:</h4>
		<p>- Traslado en Avi&oacute;n de PARIS -ROMA  para 2 personas en clase turista, SUJETO A DISPONIBILIDAD DE ESPACIO.</p>
		<p>- Habitaci&oacute;n  en ROMA doble est&aacute;ndar para 2 personas adultos no fumador, por el total de d&iacute;as y noches que se ajusten a su itinerario en Hotel 3 estrellas. No incluye alimentos ni bebidas. Los tipos de cama, la preferencia de consumo de tabaco y las comodidades de las habitaciones  est&aacute;n sujetas a disponibilidad del hotel. Incluye Impuestos y propinas. SUJETO A DISPONIBILIDAD DE ESPACIO.</p>
		<p>Para fines informativos el valor del premio total se estima en $99,000 pesos mexicanos en temporada BAJA. El ganador podr&aacute; optar por reclamar su equivalencia en dinero en efectivo en sustituci&oacute;n del viaje propuesto.</p>
		<p>Al t&eacute;rmino de la promoci&oacute;n se publicar&aacute;n los ganadores en la p&aacute;gina de Internet www.xxxluminous.com.mx, se le avisar&aacute; v&iacute;a correo electr&oacute;nico a cada ganador y la entrega de los premios se llevar&aacute; a cabo a partir del  1 Agosto del 2012 en las oficinas de Energ&iacute;a ubicadas en Blvd. Manuel &Aacute;vila Camacho 176 Piso 7, M&eacute;xico,D.F.</p>
		<p>Los ganadores tienen 30 d&iacute;as h&aacute;biles para reclamar su premio, mismo que es intransferible a otra persona que no sea el ganador. </p>
		<br>
		<h3>CONDICIONES GENERALES.</h3>
		<p>Las bases de la promoci&oacute;n ser&aacute;n publicadas en la p&aacute;gina de Internet <a href="http://www.xxxluminous.com.mx">www.xxxluminous.com.mx</a> Se entender&aacute; que toda persona que, directa o indirectamente, participe en la promoci&oacute;n, ha conocido y acepta &iacute;ntegramente estas bases, careciendo de derecho a deducir reclamar o realizar cualquier acci&oacute;n de cualquier naturaleza en contra de xxx.</p>
		<p>xxx se reserva el derecho de abstenerse a entregar el premio e iniciar si es necesario las acciones legales que procedan en caso de detectar irregularidades durante la promoci&oacute;n; tales como falsificaci&oacute;n, suplantaci&oacute;n de personas, adulteraci&oacute;n de c&oacute;digos, o en general cualquier mal uso que pueda afectar directa o indirectamente a xxx.</p>
		<br>
		<h3>AVISO DE PRIVACIDAD.</h3>
		<p>xxx Palmolive, S.A. de C.V. (en lo sucesivo &ldquo;xxx Palmolive), con domicilio en Presa la Angostura 225, Colonia Irrigaci&oacute;n, Delegaci&oacute;n Miguel Hidalgo, M&eacute;xico Distrito Federal, CP 11500, es responsable de recabar sus datos personales, del uso que se le d&eacute; a los mismos y de su protecci&oacute;n.</p>
		<p>Su informaci&oacute;n personal ser&aacute; solicitada para tener un estimado estad&iacute;stico de la efectividad del programa, poder definir mejor c&oacute;mo comunicarnos con usted y hacerlo part&iacute;cipe de las promociones de nuestros productos. Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: nombre, sexo, edad, correo electr&oacute;nico y tel&eacute;fono.</p>
		<p>Usted tiene derecho a acceder, rectificar y cancelar sus datos personales, as&iacute; como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin no haya otorgado, a trav&eacute;s de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede dirigir a nuestras oficinas en Presa la Angostura 225, Colonia Irrigaci&oacute;n, Delegaci&oacute;n Miguel Hidalgo, M&eacute;xico Distrito Federal, CP 11500.</p>
		<p>La temporalidad del manejo de sus datos ser&aacute; indefinida a partir de la fecha en que nos los proporcione, pudiendo oponerse al manejo de los mismos en cualquier momento que lo considere oportuno.</p>
		<p>La informaci&oacute;n mencionada en el segundo p&aacute;rrafo del presente Aviso de Privacidad, podr&aacute; ser recabada directamente por xxx Palmolive o por el encargado que &eacute;ste designe para tales efectos.</p>
		<p>xxx Palmolive se reserva el derecho para modificar los t&eacute;rminos del presente Aviso de Privacidad. Cualquier modificaci&oacute;n a este Aviso de Privacidad podr&aacute; consultarla en <a href="http://www.xxxluminouswhite.com.mx/">www.xxxluminouswhite.com.mx</a></p>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('input[name=redeem-type]:radio').change(function(e){
		var url;
		switch($(this).attr('value')){
			case '1': url = '/redeem/tickets'; break;
			case '2': url = '/redeem/codes'; break;
		} if(url) window.location.href = url;
	});
});
</script>
{% end %}
