{% extends "../master.html" %}
{% block body_content %}
<script type="text/javascript">
	window.form = {}
	window.form.errors = {% raw errors %};
</script>
<style>
	body {background: #DCE7EB;}
	.form-horizontal {background: #fff; padding: 32px 0; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;} 
	.container {margin-bottom: 32px;} 
	.form-buttons {padding-right: 78px; margin-top: 24px;}
</style>
<div class="container">
	<h3 class="form-title">Activar Usuario</h3>
	<div class="js-form-head">
		{% if form.errors %}
		<div class="js-alert alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			<h4 class="alert-heading">Errores!</h4>
			<br>
			<p>{% set _list = sorted(form.errors.iteritems()) %}
			{% for a, b in _list %}
				<strong>{{ unicode(form[a].label.text) }}</strong> : {{ unicode(",".join(form[a].errors)) }}-
			{% end %}</p>
		</div>
		{% end %}
	</div>
	<form class="form-horizontal" action="/_/admin/user" method="POST">
		{% raw xsrf_form_html() %}
		{% raw handler.next_form_html() %}
		<fieldset>
			<div class="row">
				<div class="span6">
					<div style="padding-left: 24px;">
						<h3>Usuario Registrado</h3>
						<p>Se puede buscar por nombre o por email.</p>
						<br>
					</div>
					<div class="js_username control-group">
						<label class="control-label" for="username">Nombre de Usuario</label>
						<div class="controls">
							<input class="" id="username" name="username" type="text" value="{{ form.username.data }}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for=""></label>
						<div class="controls">
							<button type="submit" class="btn btn-large">Validar</button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% if report_audit %}
<div class="container container-body">
	<div class="well">
		{% from mx.yr.tornado.utils import datetime_to_str %}
		<h3>Auditorias:</h3>
		<hr>
		<p>
		<strong>Username</strong>: {{ user['username'] }}<br>
		<strong>Nombre</strong>: {{ user['first_name'] }}<br>
		<strong>Apellido</strong>: {{ user['last_name'] }}<br>
		<strong>Email</strong>: {{ user['email'] }}<br>
		<strong>&Uacute;ltimo Acceso</strong>: {{ datetime_to_str(user['last_login']) }}<br>
		<hr>
		<strong>Creado</strong>: {{ datetime_to_str(user['created']) }}<br>
		<strong>Modificado</strong>: {{ datetime_to_str(user['modified']) }}<br>
		<p>
		<hr>
		<p><strong>Total:</strong> {{report_audit.count()}}</p>
		<table class="table table-bordered table-striped table-report">
			<thead>
				<tr>
					<th width="20%">Creado</th>
					<th width="80%">Mensaje</th>
				</tr>
			</thead>
			<tbody>
				{% for a in report_audit %}
				<tr>
					<td>{{ datetime_to_str(a.created) }}</td>
					<td>{{ a.menssage }}</td>
				</tr>
				{% end %}
			</tbody>
		</table>
		{% if not user.enabled %}
		<a href="/_/admin/user/activate?k={{ user['id'] }}" class="btn btn-large btn-success">Activar</a>
		{% end %}
	</div>
</div>
{% end %}
<script type="text/javascript">
$(document).ready(function(){
	var tmpl = '<div class="js-alert alert alert-error"><a class="close" data-dismiss="alert">×</a><h4 class="alert-heading">Errores!</h4><p>{message}</p></div>';
	var errors = window.form.errors;
	if(errors.hasOwnProperty("error")) {
		if(errors.error.id != 0){
			var messages = errors.error.message;
			for(var a in messages){
				$(".js_"+a).addClass("error")
			} if(errors.error.id > 1){
				$(".js-form-head").append(tmpl.replace("{message}", errors.error.message));
			}
		}
	};
});
</script>
{% end %}
