{% extends '../master.html' %}
{% block content_container %}
<div class="container">
    <div class="hero-unit">
        <div class="row">
            <div class="span5">
                <h1>Registers</h1>
                <p>Total: {{registers}}</p>
                <a href="/a/registers" class="btn btn-large btn-success">Go</a>
            </div>
            <div class="span5">
                <h1>Events</h1>
                <p>Total: {{events}}</p>
                <a href="/a/events" class="btn btn-large btn-success">Go</a>
            </div>
        </div>
    </div>
</div>
{% end %}