['', '', '', '', ''],
[u'Iteraciones', '0', '', '', ''],
[u'Giros', '0', '', '', ''],
[u'Finalizó en', '0', '', '', ''],
[u'Balance', '0', '', '', ''],
[u'Ganancia', '0', '', '', ''],
['', '', '', '', ''],
[u'Giros ganadores', '0', '', '', ''],
[u'Giros perdedores', '0', '', '', ''],
['', '', '', '', ''],
[u'Dinero pagado por Combos', '0', '', '', ''],
[u'Dinero pagado por Giros Gratis (K)', '0', '', '', ''],
[u'Dinero Pagado por Juego (J)', '0', '', '', ''],
[u'Suma de Dinero Pagado', '0', '', '', ''],
['', '', '', '', ''],
[u'Suma de Dinero Apostado', '0', '', '', ''],
['', '', '', '', ''],
[u'Combos', u'Veces que salió', u'% de Veces que salió/Total de Veces que salió cualquier combo', u'Dinero que pagó', u'% de Dinero total que se pagó/Total de dinero pagado por combos'],
[u'x2', '0', '0', '0', '0'],
[u'x3', '0', '0', '0', '0'],
[u'x4', '0', '0', '0', '0'],
[u'x5', '0', '0', '0', '0'],
[u'Total', '0', '', '0', ''],
['', '', '', '', ''],
[u'Giros Gratis', '', '', '', ''],
[u'Veces que se activaron', '0', '', '', ''],
[u'% de: veces que salió/Giros Totales', '0', '', '', ''],
[u'Veces que sale en 100 giros', '0', '', '', ''],
[u'Giros Gratis otorgados', '0', '', '', ''],
[u'Dinero que se pagó por giros gratis', '0', '', '', ''],
[u'% de: dinero pagado por Giros Gratis/Suma de dinero total pagado', '0', '', '', ''],
['', '', '', '', ''],
[u'Juego', '', '', '', ''],
[u'Veces que se activó', '0', '', '', ''],
[u'% de veces que salió/Giros Totales', '0', '', '', ''],
[u'Veces que sale en 100 giros', '0', '', '', ''],
[u'Dinero que se pagó por Juego', '0', '', '', ''],
[u'% de: dinero pagado por Juego/Suma de dinero total pagado', '0', '', '', ''],
['', '', '', '', ''],
[u'Giros Gratis + Juego', '', '', '', ''],
[u'Veces que se activaron', '0', '', '', ''],
[u'% de veces que salieron/Giros Totales', '0', '', '', ''],
[u'Veces que salen en 100 giros', '0', '', '', ''],
[u'Dinero que se pagó por K + J', '0', '', '', ''],
[u'% de: dinero pagado por K + J/Suma de dinero total pagado', '0', '', '', '']