{% extends '../master.html' %}
{% include '../ui_modules/navbar.html' %}
{% block content_container %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-search">
            <div class="panel-body">
                <form role="form" class="form-auth form-request" method="get">
                    <fieldset>
                        <h3>{{handler.settings.get('site_title').lower()}} / <small>Usuarios</small></h3>
                        <hr>
                        {% if form.errors %}
                            {% module ViewErrors(form.errors) %}
                        {% end %}
                    </fieldset>
                    <fieldset>
                        <div class="input-group">
                            <input type="text" class="form-control" id="q" name="q" value="{{ form.q.data or '' }}" autofocus="1" required="1"/>
                            <div class="input-group-btn">
                                <input type="submit" value="Buscar" class="btn btn-primary" tabindex="-1"/>
                            </div>
                        </div>
                        <small class="text-muted">
                            B&uacute;squeda avazada por
                            <strong>Empresa</strong>,
                            <strong>Cargo</strong>,
                            <strong>Nombre(s)</strong>,
                            <strong>Apellido(s)</strong>,
                            <strong>Nombre de Usuario</strong> o
                            <strong>Email</strong>.
                            Tambi&eacute;n puedes ver a <a href="/a/users"><strong><span class="fa fa-users"></span>&nbsp;todos</strong></a>
                            los usuarios o crear uno <a href="/a/users/new"><strong><span class="fa fa-user"></span>&nbsp;nuevo</strong></a>.
                        </small>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% if users %}
    {% module ViewUsers(form, users) %}
{% end %}
{% end %}
{% block head_styles_after %}
<link rel="stylesheet" href="{{ static_url('ladda/css/ladda-themeless.min.css') }}">
<link rel="stylesheet" href="{{ static_url('bootstrap-dialog/css/bootstrap-dialog.min.css') }}">
{% end %}
{% block body_scripts_init %}
{% try %}
{% set users_data = users.to_json() %}
{% except %}
{% from bson.json_util import dumps as mongo_dumps %}
{% set users_data = mongo_dumps(users) %}
{% end %}
<script>
    var executives = null;
    var users = {% raw users_data.replace("</", "<\\/") %};
    var paginator = {% raw paginator.to_json().replace("</", "<\\/") %};
</script>
<script src="{{ static_url('ladda/js/spin.min.js') }}"></script>
<script src="{{ static_url('ladda/js/ladda.min.js') }}"></script>
<script src="{{ static_url('bootstrap-dialog/js/bootstrap-dialog.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap-growl.min.js') }}"></script>
<script src="{{ static_url('js/jquery.twbsPagination.min.js') }}"></script>
<script src="{{ static_url('js/admin.js') }}"></script>
{% end %}