[user]
  name = DevOps
  email = infraestructura@cargaaltoque.com.ar
[credential "https://github.com"]
  helper =
  helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/usr/local/bin/gh auth git-credential
