{% set DOMAIN_INC = "http://" + handler.settings.get("xxx_domain_inc") %}
<link rel="stylesheet" href="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/styles/UNv4_master.css"/>
<link rel="stylesheet" href="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/styles/UNv4_OralCareRed.css"/> 
<style>
	#unifiednav_footer5 {width: 100% !important;}
</style>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=312228602179162";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="unifiednav_footer5" class="unifiednav_footer5" style="width:743px;">
	<div id="unifiednav_footercontent">
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-hashtags="xxxluminouswhite">Twittear</a>
		<div class="fb-like" data-href="http://www.xxxluminouswhite.com.mx" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="verdana"></div>
	</div>
	<div id="unifiednav_footercontent">
		<a href="http://www.youtube.com/user/luminousMX/" alt="YouTube Channel"><img src="{{ static_url('img/template/social-youtube-button.png') }}" alt="YouTube Channel"></a>
		<h2><a href="/terms">Bases de la Promoci&oacute;n.</a></h2>
		SSA 123300201B1254
	</div>
	<div id="unifiednav_footerline5">
		<img src="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/images/spacer.gif" alt="" width="1" height="1" border="0">
	</div>
	<div id="unifiednav_footerline5">
		<img src="{{ DOMAIN_INC }}/UnifiedNav/Common/v4/images/spacer.gif" alt="" width="1" height="1" border="0">
	</div>
	<div id="unifiednav_footercontent">
		<a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/HomePage.cvsp">Inicio</a>
		&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/LegalPrivacy.cvsp">Pol&iacute;ticas Legales</a>
		&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/LegalPrivacy.cvsp#privacy">Pol&iacute;ticas de Privacidad</a>
		&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/SiteMap.cvsp">Mapa del Sitio</a>
		&nbsp;|&nbsp; <a class="CP_FooterLink" href="{{ DOMAIN_INC }}/app/xxx/MX/Corp/ContactUs.cvsp">Contacto</a><br>
		<span class="CP_FooterCopyright">2012 xxx-Palmolive Company. Todos los derechos reservados.</span><br>
		<span class="CP_FooterCountryIdentifier">Usted est&aacute; viendo la p&aacute;gina de M&eacute;xico</span>
	</div>
</div>
