{% set PAGE_NAME = handler.request.uri[1:] %}
<!-- Dynamic SiteCatalyst code version: H.x. Copyright 1997-2004 Omniture, Inc. More info available at http://www.omniture.com -->
<script language="JavaScript">
	<!--
	var s_account='CPMXAll,CPMXxxxLuminous,CPMXPromo,CPAllPromo';
	-->
</script>
<script language='JavaScript' src='http://www.xxx.com/xxx/Common/s_code_remote_h.js'></script>
<script language="JavaScript">
	<!--
	_omniture.pageName='/Luminous/MX/Promo2/{{ PAGE_NAME }}'; 
	_omniture.server='www.xxx.com';
	_omniture.channel='main'; 
	_omniture.account='CPMXAll,CPMXxxxLuminous,CPMXPromo,CPAllPromo';
	_omniture.prop1='Latin America';
	_omniture.prop2='Mexico'; 
	_omniture.prop3='Spanish'; 
	_omniture.prop4='Promotions'; 
	_omniture.prop5='Oral Care Promotion'; 
	_omniture.prop6='Toothpaste Promotion'; 
	_omniture.prop7='xxx Luminous';
	_omniture.prop8='xxx Luminous Promotion';
	_omniture.linkInternalFilter='javascript:,/Luminous'; 
	_omniture.hier1='xxx Universal,';
	-->
</script>
<script language='JavaScript' src='http://www.xxx.com/xxx/Common/s_code_remote_h_post.js'></script>
<script language="JavaScript">
	<!--
	var s_code=_omniture.t();
	if(s_code) {
		alert("s_code="+s_code);
		document.write(s_code);
	} 
	//-->
</script>
<!-- End SiteCatalyst code version: H.x. -->
<noscript>
	<img src="http://CPMXAll.112.2o7.net/b/ss/CPMXAll,CPMXxxxLuminous,CPMXPromo,CPAllPromo/1/1/H.7-- NS/123456?pageName=/Luminous/MX/Promo2/{{ PAGE_NAME }}"
		 width="1" 
		 height="1" 
		 border="0" />
</noscript>
